@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans|Raleway');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

body.modal-opened {
    overflow: hidden;
}

#background {
    background: url('background.jpg');
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    transform: scale(1.1);
    z-index: -2;
}

header, main {
    width: 75%;
    margin: -100vh auto auto;
    opacity: 1;
    transition: all .8s;
}

header.cloud, main.cloud {
    opacity: .3;
    filter: blur(5px);
}

.blur {
    filter: blur(5px);
}

header {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px;
    margin-top: calc(30px - 100vh);
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    filter: brightness(80%);
}

main {
    margin-top: 30px;
}

main .title {
    color: #7b8dad;
    font-size: 5em;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 7px;
    transition: letter-spacing .5s, font-size .5s;
}

main .title.minimized {
    font-size: 3.5em;
    letter-spacing: 5px;
}

main .description {
    text-align: center;
    color: white;
    font-family: Georgia, sans-serif;
    font-size: .75em;
    margin-bottom: 50px;
}

main .description p {
    margin-top: 4px;
    margin-bottom: 4px;
}

main .container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main .container .container-col {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

main .container-col section {
    width: 100%;
}

section {
    transition: .8s opacity, .8s transform;
    transform: scale(1.1);
}

section .title-group {
    border-bottom: 1px solid white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}

section .title-group span {
    font-size: 2em;
    color: white;
    display: inline-block;
    text-align: center;
    width: 90%;
    text-shadow: 1px 2px 3px rgba(0,0,0, 0.5);
    font-family: 'Raleway', sans-serif;
}

section .title-group img {
    height: 36px;
    width: 36px;
}

html {
    --skill-dot-size: 15px;
}

.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: white;
    margin: 5px auto 15px;
}

.skill-name {
    padding-bottom: 10px;
}

.skill-dot-container {
    display: flex;
    height: var(--skill-dot-size);
}

.skill-dot {
    width: var(--skill-dot-size);
    border: 2px solid white;
    border-radius: var(--skill-dot-size);
    background: transparent;
    margin-left: 1px;
    margin-right: 1px;
}

.skill-dot-completed {
    background: white;
}

.lang-container {
    display: flex;
    width: 80%;
    margin: auto;
}

.lang-container img {
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}

.hobbies-container {
    display: flex;
    width: 100%;
}

.hobbies-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(255, 255, 255, .4);
    text-align: center;
}

html {
    --size-grad-dot: 10px;
    --size-grad-vertical: 4px;
}

.grad-group {
    position: relative;
    width: 100%;
}

.grad-vertical {
    position: absolute;
    top: 0;
    left: 25%;
    bottom: 0;
    background: black;
    width: var(--size-grad-vertical);
    border-radius: var(--size-grad-vertical);
}


.grad-container {
    display: flex;
    color: white;
    position: relative;
    margin-bottom: 50px;
}

.grad-title {
    width: 20%;
}

.grad-desc {
    width: 40%;
    margin-left: 10%;
}

.grad-desc-desc {
    font-size: .75em;
    color: gray;
}

.grad-date::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 0.866em solid transparent;
    border-right: 1em solid black;
    border-bottom: 0.866em solid transparent;
    right: 100%;
    top: 0;
    position: absolute;
}
.grad-date {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 2px 10px;
    font-size: .75em;
}

.grad-dot {
    width: var(--size-grad-dot);
    height: var(--size-grad-dot);
    border-radius: var(--size-grad-dot);
    border: 1px solid white;
    background-color: black;
    position: absolute;
    top: 0;
    left: calc(25% - (var(--size-grad-dot) / 2) + (var(--size-grad-vertical) / 2));
    z-index: 10;
    display: inline-block;
}

.cloud {
    opacity: .1;
    transform: scale(.9);
}

.padding-up {
    padding-top: 50px;
}

.modal {
    transform: translate(-50%, -50%) scale(0);
    transition: transform .5s;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    color: white;
    overflow: auto;
}

.modal.modal-opened {
    transform: translate(-50%, -50%) scale(1);
}

.modal img {
    float: right;
    width: 1em;
    margin-top: 1em;
    margin-right: .25em;
    margin-left: 1em;
    cursor: pointer;
    transition: transform .3s;
}

.modal img:hover {
    transform: scale(1.05);
}

.modal-header {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.modal-title {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

#contact {
    width: 50%;
}

#contact form {
    padding: 10px;
}

#contact-info {
    font-size: .75em;
}

.form-row {
    width: 100%;
    margin-bottom: 15px;
}

.form-row-two-column {
    display: flex;
    justify-content: space-between;
}

.form-row-two-column .form-column {
    width: 40%;
}

.form-row label {
    display: block;
    margin-bottom: 10px;
}

.form-row input, .form-row textarea, .form-row button {
    width: 100%;
    padding: 10px;
}

#contact-viewer {
    width: 90%;
}

.contact-viewer-desc {
    width: 100%;
    margin-bottom: 10px;
}

.contact-viewer-desc-date {
    float: right;
}

#contact-viewer textarea {
    width: 100%;
}

.contact-viewer-element {
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.contact-viewer-element:not(:last-child) {
    border-bottom: 1px solid white;
}

.contact-viewer-desc-email {
    font-size: .75em;
}